/* 取边距 */
body{  
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none
}
.mp-0{
    margin: 0px;
    padding: 0px;
}
.dis_inblock{
display:inline-block;
}

.btn_primary{
    background-color: #37bbf3;
    color: #ffff;
}
.test{
    display: inline-block;
}

/* #37bbf3 */
/* #72859d  副标题*/ 
/* #f44336   亮眼 */
/* #1e2bcb  主体颜色 */
/* #dee2e6  灰色 */