/* 取边距 */
.mp0{  
    margin: 0;
    padding: 0;
}

li,a{
    text-decoration-style: none
}

.bg-d{
    background-color: #409EFF;
}

.bg-xr{
    background-color: #E0E0E0;
}
.bg-wt{
    background-color: #F0F0F0
}